* {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.headingBanner,
.logo-section,
.logo-image,
.logo-name,
.listings-navigation,
.home-navigation {
  display: inline-block;
}

.logo-image,
.logo-name,
.listings-navigation {
  vertical-align: middle;
}

.logo-image,
.logo-image img {
  width: 90px;
  height: 90px;
}

.listings-navigation {
  width: calc(100% - 730px);
  text-align: center;
}

.home-navigation {
  padding: 10px;
  margin: 20px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.headingBanner {
  width: 100%;
  background-color: rgb(240, 147, 136);
}

.main-content {
  background-color: rgb(250, 234, 233);
  text-align: center;
  height: calc(100% - 100px);
  margin-top: 10px;
}

.event-table-section {
  padding: 20px;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
}

table {
  width: 100%;
  background-color: rgb(245, 224, 198);
  font-size: 20px;
  overflow: auto;
}

th {
  background-color: bisque;
}

th,
td {
  padding: 10px;
  border-spacing: 5px;
}

.actionButton {
  padding: 10px;
  background-color: blanchedalmond;
  border: 1px solid rgb(240, 147, 136);
  border-radius: 10px;
  cursor: pointer;
}

#pop-up {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 90px;
  font-size: 16px;
}

#pop-up.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 70px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 70px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
