* {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.headingBanner,
.logo-section,
.logo-image,
.logo-name,
.listings-navigation,
.event-navigation,
.selection-section p {
  display: inline-block;
}

.logo-image,
.logo-name,
.listings-navigation {
  vertical-align: middle;
}

.logo-image,
.logo-image img {
  width: 90px;
  height: 90px;
}

.listings-navigation {
  width: calc(100% - 730px);
  text-align: center;
}

.event-navigation {
  padding: 10px;
  margin: 20px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.headingBanner {
  width: 100%;
  background-color: rgb(240, 147, 136);
}

.main-content {
  background-color: rgb(250, 234, 233);
  text-align: center;
  height: calc(100% - 100px);
  margin-top: 10px;
  position: relative;
}

.import-inner-section {
  vertical-align: middle;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selection-section {
  background-color: bisque;
  border: 1px dashed;
  width: 600px;
  height: 500px;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
}

.selection-section select {
  width: 150px;
  padding: 10px;
  margin: 5px;
}

.import-section {
  background-color: white;
  text-align: center;
  padding: 40px;
  margin: 20px;
  font-size: 18px;
}

.import-section img {
  width: 80px;
  height: 80px;
}

.import-screen {
  text-align: center;
  margin: 15px;
}

.upload-image{
  padding: 15px;
  margin: 15px;
}

.import-button {
  padding: 0 50px 50px 50px;
  margin: 20px;
}

.import-button button {
  margin: 5px;
  padding: 10px;
  background-color: beige;
  width: 150px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  left: 50%;
  top: 70px;
  font-size: 16px;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 70px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 70px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
